In [11]:
import pandas as pd

In [12]:
# Import dataset 

df_WebMD = pd.read_csv('Webmd_and_Wellrx.csv')
df_drugs = pd.read_csv('drug_dates.csv')

In [14]:
# Data Extraction -> From Reviewer columns -> ['age', 'Time', 'Reviewer_status', "Gender"]
df_WebMD["age"] = df_WebMD["Reviewer"].str.extract('(13-18|19-24|25-34|35-44|45-54|55-64|65-74|75 or over)')
df_WebMD["Time"] = df_WebMD["Reviewer"].str.extract('(less than 1 month|1 to 6 months|6 months to less than 1 year|1 to less than 2 years|2 to less than 5 years|5 to less than 10 years|10 years or more)')
df_WebMD["Reviewer_status"] = df_WebMD["Reviewer"].str.extract('(Patient|Caregiver)')
df_WebMD["Gender"] = df_WebMD["Reviewer"].str.extract('(Male|Female)')

In [25]:
# Gender percentages and max 
df_WebMD_Gender = df_WebMD.groupby(['Gender']).agg({'Gender': 'count'}).rename(columns={'Gender': 'total'}).reset_index()
print(round((df_WebMD_Gender['total'].max()/df_WebMD_Gender['total'].sum()), 2))
df_WebMD_Gender

0.71

   Gender  total
0  Female  66164
1    Male  26634

In [26]:
# Age percentages and max 
df_WebMD_age = df_WebMD.groupby(['age']).agg({'age': 'count'}).rename(columns={'age': 'total'}).reset_index()
print(round((df_WebMD_age['total'].max()/df_WebMD_age['total'].sum()), 2))
df_WebMD_age

0.25

          age  total
0       13-18   1653
1       19-24   5518
2       25-34  13158
3       35-44  16230
4       45-54  23578
5       55-64  20248
6       65-74  10272
7  75 or over   3781

In [27]:
#Length of Review percentages and max 
df_WebMD_Time = df_WebMD.groupby(['Time']).agg({'Time': 'count'}).rename(columns={'Time': 'total'}).reset_index()
print(round((df_WebMD_Time['total'].max()/df_WebMD_Time['total'].sum()), 2))
df_WebMD_Time

0.3

                           Time  total
0                 1 to 6 months  21593
1        1 to less than 2 years   9933
2              10 years or more   4633
3        2 to less than 5 years  13150
4       5 to less than 10 years   7223
5  6 months to less than 1 year   9107
6             less than 1 month  27930

In [28]:
# Reviewer status percentages and max 
df_WebMD_Reviewer_status = df_WebMD.groupby(['Reviewer_status']).agg({'Reviewer_status': 'count'}).rename(columns={'Reviewer_status': 'total'}).reset_index()
print(round((df_WebMD_Reviewer_status['total'].max()/df_WebMD_Reviewer_status['total'].sum()), 2))
df_WebMD_Reviewer_status

0.96

  Reviewer_status  total
0       Caregiver   3859
1         Patient  90488

In [21]:
# EES average
df_WebMD[['Effectiveness', 'Ease', 'Satisfaction']].mean()

Effectiveness    3.530266
Ease             4.078269
Satisfaction     3.177375
dtype: float64